<button><%= link_to 'Dashboard', root_path %></button>
<h1><%= @home_teachee.name %></h1>
<div class='row'>
  <div class='col-md-3'>
    <div class='panel panel-default'>
      <div class='panel-heading'>Contact Information:</div>
      <div class='panel-body'>
        <h4>Phone Number(s):</h4>
        <div class='phone_numbers'>
          <p>Primary Phone: <%= @home_teachee.phone1 %></p>
          <p>Secondary Phone: <%= @home_teachee.second_phone %>
        </div>

        <h4>Email:</h4>
        <div class='email'>
          <p><%= @home_teachee.email %></p>
        </div>

        <h4>Address:</h4>
        <div class='address'>
          <%= @home_teachee.address.formatted_address %>
        </div>
      </div>
    </div>
  </div>
  <div class='col-md-9'>
    <div class='row'>
      <h4>History</h4>
      <div class='history'>
        <% @home_teachee.histories.each do |history| %>
          <% if history.created_at != nil %>
            <p>Date: <%= history.created_at.strftime("%a, %b %e %Y") %></p>
            <p>Visit Summary: <%= history.visit_summary %>
          <% else %>
            <p>N/A</p>
          <% end %>
        <% end %>
        <%= form_for [@home_teachee, @history] do |h| %>
          <%= h.label :visit_summary %>
          <%= h.text_area :visit_summary %>
          <br/>
          <%= h.submit 'Create History Item', class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
    <div class='row'>
      <h4>Issues</h4>
      <div class='issue'>
        <dl>
          <% @home_teachee.issues.each do |issue| %>
            <dt><%= issue.title %></dt>
            <dd><%= issue.description %></dd>
          <% end %>
        </dl>
      </div>
    </div>
  </div>
</div>





